* {
  font-size: 14px;
}
#root {
  height:100%;
  width: 100%;
}
.logo {
  width: 30%;
  height: 100px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
.aboutimg {
  height: 400px;
  width: 100%;
}

.trophyimg {
  height: 100%;
  width: 100%;
}
.about {
  display: flex;
}

footer {
  background-color: red;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.circle {
  width: 20px;
  border-radius: 10px;
}